.header {
	height: 90vh;
	margin-bottom: 10vh;
}
.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.logo {
	width: 25vh;
	height: 10vh;
	margin: 2vh 10vh;
}
.nav-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	margin: 2vh 5vh;
	font-size: 15px;
}
.nav-item {
	margin: 2vh;
	color: blue;
	font-size: 15px;
}
.nav {
	margin: 2vh;
}
.banner {
	display: flex;
	justify-content: space-between;
	font-family: "Gilroy-Medium";
}
.banner-text {
	margin: 5vh 15vh;
}
.banner-title {
	font-size: 50px;
	font-weight: 600;
}
.banner-subtitle {
	font-size: 25px;
	width: 60%;
}
.section-heading {
	font-size: 30px;
	text-align: center;
}

.company-name {
	font-size: 30px;
}
.company-description {
	font-size: 18px;
}
.team-container {
	width: 80%;
	margin: 5vh auto;
	display: flex;
	align-items: center;
}
.team-image {
	width: 40vh;
	height: 40vh;
	margin: 5vh;
	border-radius: 3%;
}
.team-text {
	margin: 5vh;
}
.team-name {
	font-size: 30px;
}
.team-message {
	font-size: 16px;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	margin: 10vh 5vh;
}
.copyright {
	text-align: center;
	padding-bottom: 10vh;
}
@media (max-width: 500px) {
	.banner-title {
		font-size: 40px;
	}
	.banner-subtitle {
		width: 100%;
	}
	.banner-subtitle,
	.section-heading,
	.company-name,
	.team-name {
		font-size: 20px;
	}
	.company-description,
	.team-message {
		font-size: 15px;
	}
}
