.header {
	height: 90vh;
	margin-bottom: 10vh;
}
.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.company-logo {
	width: 25vh;
	height: 10vh;
	margin: 2vh 10vh;
}
.nav-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	margin: 2vh 5vh;
	font-size: 15px;
}
.nav-item {
	margin: 2vh;
}
.banner {
	display: flex;
	justify-content: space-between;
	font-family: "Gilroy-Medium";
}
.banner-text {
	margin: 5vh 15vh;
}
.banner-title {
	font-size: 50px;
	font-weight: 600;
}
.banner-subtitle {
	font-size: 25px;
	width: 60%;
}
.section-heading {
	font-size: 30px;
	text-align: center;
}
.portfolio-container {
	display: flex;
	align-items: center;
	margin: 0px 5vh;
	margin-bottom: 10vh;
}
.portfolio-image {
	width: 90vh;
	height: 60vh;
	margin: 0px 5vh;
}
.company-name {
	font-size: 30px;
}
.company-description {
	font-size: 18px;
}
.team-container {
	width: 80%;
	margin: 5vh auto;
	display: flex;
	align-items: center;
}
.team-image {
	width: 40vh;
	height: 40vh;
	margin: 5vh;
	border-radius: 3%;
}
.team-text {
	margin: 5vh;
}
.team-name {
	font-size: 30px;
}
.team-message {
	font-size: 16px;
}
.philosophy-container {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 30px;
	justify-content: space-evenly;
}
.philosophy-content {
	margin: 0px 10vh;
}
.philosophy-image {
	width: 20vh;
	height: 20vh;
}
.philosophy-title {
	min-height: 10vh;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	margin: 10vh 5vh;
}
.copyright {
	text-align: center;
	padding-bottom: 10vh;
}
/* @media (max-width: 900px) {
  .nav-links {
    flex-direction: column;
  }
  .portfolio-container,
  .team-container,
  .philosophy-container,
  .footer-content {
    flex-direction: column;
  }
  .portfolio-image {
    width: 45vh;
    height: 30vh;
  }
  .footer-content {
    align-items: center;
  }
}
@media (max-width: 650px) {
  .company-logo {
    margin: auto;
  }
  .navigation {
    flex-direction: column;
  }
  .nav-links {
    flex-direction: row;
    margin: auto;
  }
  .banner-text {
    margin: 2vh;
  }
}
@media (max-width: 500px) {
  .banner-title {
    font-size: 40px;
  }
  .banner-subtitle {
    width: 100%;
  }
  .banner-subtitle,
  .section-heading,
  .company-name,
  .team-name,
  .philosophy-title {
    font-size: 20px;
  }
  .company-description,
  .team-message,
  .philosophy-message {
    font-size: 15px;
  }
}
@media (max-width: 300px) {
  .banner-title {
    font-size: 20px;
  }
  .banner-subtitle {
    font-size: 15px;
    margin: 0;
  }
  .portfolio-image {
    width: 20vh;
    height: 12vh;
    margin: auto;
  }
  .team-image {
    width: 20vh;
    height: 20vh;
    margin: auto;
  }
  .team-text {
    margin: auto;
  }
  .philosophy-container {
    padding: 0px;
  }
  .philosophy-content {
    margin: auto 2vh;
  }
  .footer-content {
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 200px) {
  .company-logo {
    width: 15vh;
  }
  .banner-title,
  .section-heading,
  .company-name,
  .team-name,
  .philosophy-title {
    font-size: 15px;
  }
  .company-description,
  .team-message,
  .philosophy-message {
    font-size: 12px;
  }
  .team-image,
  .philosophy-image {
    width: 10vh;
    height: 10vh;
  }
  .portfolio-container {
    margin: auto;
  }
  .portfolio-image {
    width: 15vh;
    height: 8vh;
  }
  .footer-content {
    font-size: 8px;
  }
}
 */
